# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
server side/Chores/.vs/Chores/FileContentIndex/7ddea697-a602-4076-9363-a2bda7a4d9b7.vsidx
server side/Chores/.vs/Chores/v17/DocumentLayout.backup.json
server side/Chores/.vs/Chores/v17/DocumentLayout.json
