# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.vsidx
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
server side/Chores/.vs/Chores/FileContentIndex/7ddea697-a602-4076-9363-a2bda7a4d9b7.vsidx
server side/Chores/.vs/Chores/v17/DocumentLayout.backup.json
server side/Chores/.vs/Chores/v17/DocumentLayout.json
server side/Chores/.vs/Chores/FileContentIndex/5505ba6b-f45d-4401-b210-9e435e33e710.vsidx
server side/Chores/.vs/Chores/FileContentIndex/5be8a12d-a728-44f8-b682-076e1196380e.vsidx
appsettings.json
server side/Chores/.vs/Chores/FileContentIndex/a58f556a-74ef-4688-8685-cf82014c27ce.vsidx
server side/Chores/Chores/obj/Debug/net6.0/Chores.AssemblyInfo.cs
server side/Chores/Chores/obj/Debug/net6.0/Chores.AssemblyInfoInputs.cache
server side/Chores/.vs/Chores/FileContentIndex/09c4bd68-388f-4997-8d37-b8a38184e5d9.vsidx
server side/Chores/.vs/Chores/FileContentIndex/20ce0ee2-b101-4c35-b6d5-c53812acf73b.vsidx
server side/Chores/.vs/Chores/FileContentIndex/857a2d83-d137-4538-b1ba-5dd785f41bf2.vsidx
server side/Chores/.vs/Chores/FileContentIndex/49420663-b19a-41df-b4bc-301d980e9f1a.vsidx
server side/Chores/.vs/Chores/FileContentIndex/2cea0f6c-9908-4605-95cb-67ba6f7ecb3a.vsidx
server side/Chores/.vs/Chores/FileContentIndex/9bc15c8c-8573-400d-a1b1-48d18b2c7f3c.vsidx
server side/Chores/.vs/Chores/FileContentIndex/91c3a4f9-6679-481b-bc91-a7c452b10fdd.vsidx
*.vsidx
server side/Chores/.vs/Chores/v17/DocumentLayout.backup.json
server side/Chores/.vs/Chores/v17/DocumentLayout.json
server side/Chores/.vs/Chores/v17/DocumentLayout.backup.json
server side/Chores/.vs/Chores/v17/DocumentLayout.json
server side/Chores/.vs/Chores/v17/DocumentLayout.backup.json
server side/Chores/.vs/Chores/v17/DocumentLayout.json
server side/Chores/.vs/Chores/v17/DocumentLayout.backup.json
server side/Chores/.vs/Chores/v17/DocumentLayout.backup.json
server side/Chores/.vs/Chores/v17/DocumentLayout.backup.json
server side/Chores/.vs/Chores/v17/DocumentLayout.json
server side/Chores/.vs/Chores/v17/DocumentLayout.backup.json
server side/Chores/.vs/Chores/v17/DocumentLayout.json
server side/Chores/Chores/obj/Debug/net6.0/Chores.AssemblyInfo.cs
server side/Chores/Chores/obj/Debug/net6.0/Chores.AssemblyInfo.cs
server side/Chores/Chores/obj/Debug/net6.0/Chores.AssemblyInfoInputs.cache
server side/Chores/Chores/obj/Debug/net6.0/staticwebassets.removed.txt
server side/Chores/Chores/obj/Debug/net6.0/Chores.AssemblyInfo.cs
/server side/Chores/Chores/obj
/server side/Chores/Chores/obj
/server side/Chores/Chores/obj
/server side/Chores/Chores/obj
/server side/Chores/Chores/obj
**/bin/
**/obj/
